@import "tailwindcss";

:root {
  background: #020617;
  color: #ffffff;
}

html {
  scrollbar-gutter: stable;
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #020617;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #1e293b;
    border-radius: 9999px;
    border: 2px solid #020617;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #3b82f6;
  }
}