@import "tailwindcss";

:root {
  background: #020617;
  color: #ffffff;
}

@layer utilities {
  ::-webkit-scrollbar { width: 10px; }
  ::-webkit-scrollbar-track { background: #020617; }
  ::-webkit-scrollbar-thumb { background: #334155; border-radius: 5px; border: 2px solid #020617; }
  ::-webkit-scrollbar-thumb:hover { background: #6366f1; }
}